<p>
  <strong>name:</strong>
  <%= @partner.name %>
</p>

<p>
  <strong>logo:</strong>
  <%= @partner.logo %>
</p>

<p>
  <strong>official_site:</strong>
  <%= @partner.official_site %>
</p>


<%= link_to 'Back', partners_path %>